
:root {
    --primaryColor: #1f3c88;
    --backgroundColorTable: #bed2f3;
    --backgroundl: #b4d6f7;
    --borderColorTable: #0505a3;
    --borderColorTd: #154076;
    --fondoOscuro: #163252;
    --gray: #ccc;
    --colorRecuadro: #e5e7eb;
    --mainBackground: #f1f3f6;
    --secondaryBackground: #ffffff;
    --TextoClaro: #e6f0f1;
    --Green: #1cb03a;
    --Yellow: #fde935;
    --Orange: #ed7d31;
    --Red: #ff0000;
    --LightRed: #ff7575;
}

html {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #d3dff2;
}

main {
    display: flex;
    flex-direction: column;
}

header h1 {
    display: block;
    justify-content: center;
    text-align: center;
    background-color: #163252;
    color: white;
    padding: 25px 10px;
    font-size: 2.6em;
    margin: 0em 0 0.8em 0;
}

main .menu {
    justify-self: center;
    background-color: var(--backgroundColorTable);
    border: 4px outset var(--borderColorTd);
    box-shadow: 0 15px 15px #7068a678;
    border-radius: 12px;
    position: absolute;
    justify-self: center;
    width: 80%;
    max-width: 950px;
    min-height: 150px;
    left: 50%;
    right: 50%;
    top: 25%;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px 10px;
    min-height: 210px;
    overflow: hidden;
}

    main .menu form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        margin: 10px;
        min-height: 100%;
    }

main #ingreso form label {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 25px;
}

main menu .error {
    font-size: 1.3em;
}

main div span {
    font-size: 1.3em;
}

main div .contenedor_char {
    display: flex;
}

    main div .contenedor_char small {
        display: flex;
        font-size: 1.2em;
        animation: saltito 2.1s ease-in-out infinite;
    }

        main div .contenedor_char small:nth-child(1) {
            animation-delay: 0s;
        }

        main div .contenedor_char small:nth-child(2) {
            animation-delay: 0.05s;
        }

        main div .contenedor_char small:nth-child(3) {
            animation-delay: 0.1s;
        }

        main div .contenedor_char small:nth-child(4) {
            animation-delay: 0.15s;
        }

        main div .contenedor_char small:nth-child(5) {
            animation-delay: 0.20s;
        }

        main div .contenedor_char small:nth-child(6) {
            animation-delay: 0.25s;
        }

        main div .contenedor_char small:nth-child(7) {
            animation-delay: 0.30s;
        }

        main div .contenedor_char small:nth-child(8) {
            animation-delay: 0.35s;
        }

        main div .contenedor_char small:nth-child(9) {
            animation-delay: 0.40s;
        }

        main div .contenedor_char small:nth-child(10) {
            animation-delay: 0.45s;
        }

        main div .contenedor_char small:nth-child(11) {
            animation-delay: 0.50s;
        }

        main div .contenedor_char small:nth-child(12) {
            animation-delay: 0.55s;
        }

        main div .contenedor_char small:nth-child(13) {
            animation-delay: 0.60s;
        }

        main div .contenedor_char small:nth-child(14) {
            animation-delay: 0.65s;
        }

        main div .contenedor_char small:nth-child(15) {
            animation-delay: 0.70s;
        }

        main div .contenedor_char small:nth-child(16) {
            animation-delay: 0.75s;
        }

        main div .contenedor_char small:nth-child(17) {
            animation-delay: 0.80s;
        }

        main div .contenedor_char small:nth-child(18) {
            animation-delay: 0.85s;
        }

        main div .contenedor_char small:nth-child(19) {
            animation-delay: 0.90s;
        }

        main div .contenedor_char small:nth-child(20) {
            animation-delay: 0.95s;
        }

        main div .contenedor_char small:nth-child(21) {
            animation-delay: 1s;
        }

        main div .contenedor_char small:nth-child(22) {
            animation-delay: 1.05s;
        }

        main div .contenedor_char small:nth-child(23) {
            animation-delay: 1.10s;
        }

        main div .contenedor_char small:nth-child(24) {
            animation-delay: 1.15s;
        }

        main div .contenedor_char small:nth-child(25) {
            animation-delay: 1.20s;
        }

        main div .contenedor_char small:nth-child(26) {
            animation-delay: 1.25s;
        }

@keyframes saltito {
    0%, 16%, 100% {
        transform: translateY(0);
    }

    8% {
        transform: translateY(-8px);
    }
}

main .menu button, #instrucciones button, #resultados button {
    min-width: 230px;
    width: 80%;
    background: var(--mainBackground);
    box-shadow: 4px 5px 4px var(--borderColorTable);
    color: var(--borderColorTd);
    font-weight: bold;
    font-size: 1.1em;
    overflow: hidden;
}


#instrucciones button {
    margin-top: 10px;
}

main .menu button, #instrucciones button, #resultados button {
    align-self: center;
    padding: 0.3em;
    overflow: hidden;
    text-wrap-mode: nowrap;
    transition: all 0.3s ease-out;
    border-radius: 12px;
}

    main .menu button:hover, #instrucciones button:hover {
        background: #d0e0f6;
        box-shadow: 4px 5px 4px var(--borderColorTable);
        color: var(--borderColorTd);
        transform: translateY(-7px);
    }

    main .menu button#cerrarSesion {
        margin-top: 4px;
        background-color: #ffe4e5;
        box-shadow: 4px 5px 4px #980011;
        color: #913d31;
    }

        main .menu button#cerrarSesion:hover {
            background: #ffaba3;
            transform: translateY(-7px);
        }

main .menu input[type="text"] {
    text-align: center;
    font-size: 1.1em;
    padding: 0.3em;
}

main .menu dl {
    align-self: flex-start;
    margin: 20px 10%;
    width: calc(100% - 20%);
    min-height: 250px;
    font-size: 1em;
    background-color: var(--backgroundl);
    align-self: center;
    border: 6px solid #1c3c91;
    border-radius: 24px;
    box-shadow: 1px 5px 6px var(--borderColorTable);
}


main .menu dt {
    font-size: 1em;
}

main .menu dd {
    margin: 0 0 10px 50px;
    font-size: 1.18em;
}

main #instrucciones p {
    font-size: 1.3em;
    margin: 0.8em 0;
}


main .tituloJuego {
    display: block;
    justify-content: center;
    text-align: center;
    background-color: #163252;
    color: white;
    padding: 10px;
    font-size: 2.5em;
    margin: 0 0 0.8em 0;
}

main #tarjeta {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: calc(100% - 40px);
    margin: 10px;
    padding: 10px;
    background-color: var(--backgroundColorTable);
    border: 4px solid var(--fondoOscuro);
}

    main #tarjeta span {
        justify-self: center;
        text-align: center;
        color: var(--primaryColor);
        font-size: 1.5em;
    }

        main #tarjeta span:first-of-type {
            font-size: 1.3em;
        }

main .reloj {
    width: 120px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    align-items: center;
    font-size: 1.3em;
    background-color: var(--fondoOscuro);
    color: var(--colorRecuadro);
    margin: 0.3em;
}

    main .reloj span:last-child {
        font-weight: bold;
    }

main #contenedor_tablas {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

main table {
    border-collapse: collapse;
    margin-left: 10px; /* Espacio para que los números no se corten */
    table-layout: fixed;
    align-self: center;
    margin: 10px;
}


table tbody {
    outline-offset: -1px;
    outline: 2px solid var(--borderColorTable);
    background-color: #cfe1fd;
    counter-reset: rowNumber;
}

/* estos dos estilos tienen que ir juntos, 
  basicamente cuando se coloca en relative, 
  se cuenta siempre le tr de thead, así que lo oculto */
table tr {
    position: relative;
    color: #666;
}

table thead tr::before {
    visibility: hidden;
}


table tbody tr {
    counter-increment: rowNumber; /* Incrementa en cada fila */
    position: relative;
}

    table tbody tr:first-child td {
        border-top: none;
    }

    table tbody tr:last-child td {
        border-bottom: none;
    }

.efecto-ataque {
    position: absolute; /* Desconecta la imagen del flujo normal para encimarla */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none; /* Hace que los clicks atraviesen la imagen del efecto */
}

table tr::before {
    content: counter(rowNumber); /* Muestra el número */
    position: absolute;
    left: -23px;
    font-weight: bold;
    color: #666;
    line-height: 32px;
    z-index: 2;
}

table tr td {
    box-sizing: border-box;
    border: 1px solid var(--borderColorTd);
    width: 32px;
    height: 32px;
    padding: 0;
    cursor: pointer;
    position: relative;
}

#enviarNaves {
    background: #bed2f3;
    color: white;
    border-radius: 12px;
    padding: 12px 28px;
    font-weight: bold;
    font-size: 18px;
    margin: 10px 25px 10px 10px;
    align-self: center;
    min-width: 370px;
}

#movimiento {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 0 20%;
    /*background-color: var(--backgroundl);*/
    background: rgba(255,255,255,0.08);
    border: 1px solid rgba(255,255,255,0.15);
    border-radius: 14px;
}

    #movimiento button {
        background-color: #1f3c883b;
    }

        #movimiento button img {
            height: 50px;
            /*width: 50px;*/
        }

#contenedor {
    margin: 20px;
    padding: 20px;
    display: flex;
    gap: 10px;
    align-self: center;
    background-color: blue;
    border: 10px solid var(--borderColorTable);
    border-radius: 10px;
    width: 60%;
    /*max-width: 280px;*/
}

    #contenedor div {
        display: flex;
        gap: 0;
    }

        #contenedor div img {
            height: 32px;
            width: 32px;
            pointer-events: none;
        }

main #instrucciones, main #resultados {
    position: absolute;
    width: 70%;
    min-width: 300px;
    top: 40%;
    left: 50%;
    right: auto;
    transform: translate(-50%, -50%);
    z-index: 20;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 50px;
    gap: 5px;
    max-width: 950px;
    background-color: var(--backgroundColorTable);
    border: 6px outset var(--borderColorTd);
    box-shadow: 0 15px 15px #7068a678;
    border-radius: 12px;
}

    main #instrucciones strong {
        font-size: 1.5em;
    }

    main #instrucciones span {
        margin: 0 0 12px;
        font-size: 1.3em;
    }

main #resultados {
    gap: 15px;
}

#resultados span {
    align-self: center;
    font-size: 1.7em;
}

#resultados h3 {
    font-size: 1.8em;
    display: inline;
    align-content: center;
    text-align: center;
}


main #fondo {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--fondoOscuro);
    z-index: 10;
    opacity: 50%;
}

.invisible {
    visibility: hidden;
    animation-play-state: paused !important;
}

    .invisible * {
        display: none;
    }

/* --- BARCO SELECCIONADO HORIZONTAL --- */
.celda-seleccionada-h-inicio {
    outline: 3px solid #ffcc00;
    outline-offset: -3px;
}

.celda-seleccionada-h-medio {
    border-top: 3px solid #ffcc00 !important;
    border-bottom: 3px solid #ffcc00 !important;
}

.celda-seleccionada-h-fin {
    outline: 3px solid #ffcc00;
    outline-offset: -3px;
}

.celda-seleccionada-v-inicio {
    outline: 3px solid #ffcc00;
    outline-offset: -3px;
}

.celda-seleccionada-v-medio {
    border-left: 3px solid #ffcc00 !important;
    border-right: 3px solid #ffcc00 !important;
}

.celda-seleccionada-v-fin {
    outline: 3px solid #ffcc00;
    outline-offset: -3px;
}

.celda-seleccionada {
    background-color: #79eff9b5 !important
    /* background-color: rgba(0, 150, 255, 0.2) !important; */
}


@media (min-width : 420px) {
    header h1 {
        font-size: 2.7em;
    }

    main .menu button, #instrucciones button, #resultados button {
        font-size: 1.3em;
        min-width: 300px;
    }

    main .menu form input[type="text"] {
        min-width: 240px;
    }

    main div span {
        font-size: 1.4em;
    }

    main div .contenedor_char small {
        font-size: 1.4em;
        text-align: center;
    }

    main #instrucciones strong {
        font-size: 1.6em;
    }

    main #instrucciones p {
        font-size: 1.4em;
    }

    main .menu dl {
        font-size: 1.2em;
        margin: 20px 50px;
        width: calc(100% - 20%);
    }

    main .menu dd {
        font-size: 1.3em;
        margin: 0 0 10px 50px;
    }

    table thead tr th {
        line-height: 30px;
        font-size: 18px;
    }

    table tr::before {
        left: -30px;
        font-size: 18px;
    }
}

@media (min-width : 540px) {
    header h1 {
        font-size: 2.7em;
    }

    main .menu {
        gap: 13px
    }

    main div span {
        font-size: 1.5em;
    }

    main div .contenedor_char small {
        font-size: 1.5em;
    }

    main #ingreso form label {
        font-size: 1.6em;
    }

    main .menu form input[type="text"] {
        font-size: 1.3em;
        width: 80%;
    }

    main .menu dl {
        font-size: 1.4em;
        padding: 10px 30px
    }

    main .menu dt {
        font-size: 1.1em;
    }

    main .menu dd {
        font-size: 1.35em;
    }

    main .menu button, #instrucciones button, #resultados button {
        font-size: 1.5em;
        width: 80%;
        max-width: 500px;
    }

    main #instrucciones strong {
        font-size: 1.7em;
    }

    main #instrucciones p {
        font-size: 1.5em;
    }

    #enviarNaves {
        min-width: 470px;
    }

    main #tarjeta {
        width: 500px;
    }

    main .reloj {
        position: relative;
        align-self: center;
        width: 120px;
        left: 200px;
        font-size: 1.6em;
        margin: 1em 0.5em;
    }

    main #resultados span {
        font-size: 1.8em;
    }

    #resultados span {
        font-size: 1.8em;
    }

    #resultados h3 {
        font-size: 2em;
    }

    table tr td {
        width: 40px;
        height: 40px;
    }

    table thead tr th {
        line-height: 40px;
        font-size: 18px;
    }

    table tr::before {
        left: -30px;
        font-size: 18px;
        line-height: 40px;
    }
}

@media (min-width : 720px) {

    header h1 {
        font-size: 2.9em;
    }

    main .menu {
        /*width: 500px;*/
        gap: 17px;
        padding: 1.4em 0.6em;
    }

    main #ingreso form label {
        font-size: 1.9em;
    }


    main .menu form input[type="text"] {
        font-size: 1.4em;
        width: 80%;
        max-width: 500px;
    }

    main div span {
        font-size: 1.8em;
    }

    main div .contenedor_char small {
        font-size: 1.6em;
    }

    main .menu dl {
        font-size: 1.6em;
    }

    main .menu dd {
        font-size: 1.35em;
        margin: 0 0 15px 50px;
    }

    main #resultados {
        width: 530px;
    }

    #resultados span {
        font-size: 1.85em;
    }

    #resultados h3 {
        font-size: 2.1em;
    }


    table tr td {
        width: 48px;
        height: 48px;
    }

    #enviarNaves {
        width: 550px;
    }

    main #instrucciones strong {
        font-size: 2.2em;
    }
    
    #instrucciones button {
        margin-top: 15px;
    }

    main #instrucciones p {
        font-size: 1.6em;
    }

    table thead tr th {
        line-height: 48px;
        font-size: 21px;
    }

    table tr::before {
        left: -48px;
        font-size: 21px;
    }
}

@media (min-width : 1120px) {

    main .menu {
        gap: 24px;
        padding: 2em 1em;
    }


        main .menu form input[type="text"] {
            font-size: 1.6em;
            width: 500px;
        }

    #instrucciones button {
        margin-top: 20px;
        font-size: 2.1em;
    }

    main .menu button, #instrucciones button, #resultados button {
        font-size: 1.8em;
        width: 550px;
        padding: 0.4em 0.3em;
    }

    #enviarNaves {
        width: 600px;
        margin: 25px;
    }

    main #instrucciones strong {
        font-size: 2.4em;
    }

    main #instrucciones p {
        font-size: 1.8em;
    }

    main #contenedor_tablas {
        flex-direction: row;
        gap: 30px;
    }

    table tr td {
        width: 52px;
        height: 52px;
    }

    table thead tr th {
        line-height: 52px;
        font-size: 24px;
    }

    table tr::before {
        left: -35px;
        font-size: 24px;
        line-height: 52px;
    }
}
