
:root {
    --primaryColor: #1f3c88;
    /*
    --accentColor: #365dc1;
    --cancelColor: #878787;
    
    --accentColorHover: #406fe7;
    --cancelColorHover: #adadad; */

    --backgroundColorTable: #bed2f3;
    --backgroundl: #b4d6f7;
    --borderColorTable: #0505a3;
    --borderColorTd: #154076;
    --fondoOscuro: #163252;
    --gray: #ccc;
    --colorRecuadro: #e5e7eb;
    --mainBackground: #f1f3f6;
    --secondaryBackground: #ffffff;
    --TextoClaro: #e6f0f1;
    --Green: #1cb03a;
    --Yellow: #fde935;
    --Orange: #ed7d31;
    --Red: #ff0000;
    --LightRed: #ff7575;
}

html {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #d3dff2;
}

main {
    display: flex;
    flex-direction: column;
}

    header h1 {
        display: block;
        justify-content: center;
        text-align: center;
        background-color: #163252;
        color: white;
        padding: 25px 10px;
        font-size: 2.6em;
        margin: 0em 0 0.8em 0;
    }

    main .menu {
        justify-self:center;
        background-color: var(--backgroundColorTable);
        border: 4px outset var(--borderColorTd);
        border-radius: 50px;
        position: absolute;
        justify-self: center;
        width: 80%;
        max-width: 600px;
        min-height: 150px;
        left: 50%;
        right: 50%;
        top: 25%;
        font-size: 22px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 20px 10px;
        min-height: 210px;
        overflow: hidden;
    }

    main .menu form {
        width: 100%;
        height: 100%;
        font-size: 22px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        margin: 10px;
        min-height: 100%;
    }

    main #ingreso form label {
        text-align: center;
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 25px;
    }

    main .menu small {
        text-align: center;
    }

    main .menu button, .menu#sala form button, #instrucciones button, #resultados button {
        min-width: 230px;
        width: 80%;
        height: 40px;
        background: var(--mainBackground);
        border: 40%;
        padding: 0;
        box-shadow: 4px 5px 4px var(--borderColorTable);
        color: var(--borderColorTd);
        font-weight: bold;
        font-size: 1em;
        overflow: hidden;
    }

    main .menu form button {
        width: fit-content;
        align-self: center;
        padding: 0.2em 0.8em;
    }

    main .menu form input {
        padding: 0.3em 0.3em;
    }
    
    main .menu form input[type="text"] {
        font-size: 16px;
    }

    main .menu#sala form input[type="text"] {
        text-align: center;
        font-size: 0.9em;
    }

    main .menu dl {
        align-self: flex-start;
        margin: 20px 10%;
        width: calc(100% - 20%);
        font-size: 1em;
        background-color: var(--backgroundl);
    }

    main .menu dd {
        margin: 0 0 10px 50px;
        font-size: 1.15em;
    }




    main .tituloJuego {
        display: block;
        justify-content: center;
        text-align: center;
        background-color: #163252;
        color: white;
        padding: 10px;
        font-size: 2.4em;
        margin: 0 0 0.8em 0;

    }

    main #tarjeta {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-self: center;
        width: calc(100% - 40px);
        margin: 10px;
        padding: 10px;
        background-color: var(--backgroundColorTable);
        border: 4px solid var(--fondoOscuro);
    }

        main #tarjeta span {
            justify-self: center;
            text-align: center;
            color: var(--primaryColor);
            font-size: 1.5em;
        }

        main #tarjeta span:first-of-type {
            font-size: 1.3em;
        }

    main .reloj {
        width: 120px;
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        align-items: center;
        font-size: 1.3em;
        background-color: var(--fondoOscuro);
        color: var(--colorRecuadro);
        margin: 1em 0.5em;
    }

        main .reloj span:last-child {
            font-weight: bold;
        }


    main table {
        border-collapse: collapse;
        margin-left: 10px; /* Espacio para que los números no se corten */
        table-layout: fixed;
        align-self: center;
    }


table tbody {
    outline-offset: -1px;
    outline: 2px solid var(--borderColorTable);
    background-color: #cfe1fd;
    counter-reset: rowNumber;
}

/* estos dos estilos tienen que ir juntos, 
  basicamente cuando se coloca en relative, 
  se cuenta siempre le tr de thead, así que lo oculto */
table tr {
    position: relative;
    color: #666;
}

table thead tr::before {
    visibility: hidden;
}


table tbody tr {
    counter-increment: rowNumber; /* Incrementa en cada fila */
    position: relative;
}

    table tbody tr:first-child td {
        border-top: none;
    }

    table tbody tr:last-child td {
        border-bottom: none;
    }

table tr::before {
    content: counter(rowNumber); /* Muestra el número */
    position: absolute;
    left: -23px;
    font-weight: bold;
    color: #666;
    line-height: 32px;
    z-index: 2;
}

table tr td {
    box-sizing: border-box;
    border: 1px solid var(--borderColorTd);
    width: 32px;
    height: 32px;
    padding: 0;
    cursor: pointer;
}

#contenedor {
    margin: 20px;
    padding: 20px;
    display: flex;
    gap: 10px;
    align-self: center;
    background-color: blue;
    border: 10px solid var(--borderColorTable);
    border-radius: 10px;
    width: 70%;
    max-width: 280px;
}

    #contenedor div {
        display: flex;
        gap: 0;
    }

        #contenedor div img {
            height: 32px;
            width: 32px;
            pointer-events: none;
        }

        main #instrucciones, main #resultados {
            position: absolute;
            width: 70%;
            min-width: 300px;
            top: 40%;
            left: 50%;
            right: auto;
            background-color: var(--backgroundColorTable);
            transform: translate(-50%, -50%);
            z-index: 20;
            display: flex;
            flex-direction: column;
            padding: 20px;
            gap: 5px;
        }

main #instrucciones strong {
    font-size: 1.4em;
}

main #instrucciones span {
    margin: 0 0 12px;
    font-size: 1.3em;
}

main #instrucciones p {
    font-size: 1.1em;
}

#instrucciones button, #resultados button {
    align-self: center;
}

main #resultados {
    gap: 15px;
}

#resultados span {
    align-self: center;
    font-size: 1.7em;
}

#resultados h3 {
    font-size: 1.8em;
    display: inline;
    align-content: center;
    text-align: center;
}


main #fondo {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--fondoOscuro);
    z-index: 10;
    opacity: 50%;
}

.invisible {
    visibility: hidden;
}

/* --- BARCO SELECCIONADO HORIZONTAL --- */
.celda-seleccionada-h-inicio {
    outline: 3px solid #ffcc00;
    outline-offset: -3px;
}

.celda-seleccionada-h-medio {
    border-top: 3px solid #ffcc00 !important;
    border-bottom: 3px solid #ffcc00 !important;
}

.celda-seleccionada-h-fin {
    outline: 3px solid #ffcc00;
    outline-offset: -3px;
}

.celda-seleccionada-v-inicio {
    outline: 3px solid #ffcc00;
    outline-offset: -3px;
}

.celda-seleccionada-v-medio {
    border-left: 3px solid #ffcc00 !important;
    border-right: 3px solid #ffcc00 !important;
}

.celda-seleccionada-v-fin {
    outline: 3px solid #ffcc00;
    outline-offset: -3px;
}




@media (min-width : 420px) {
    header h1 {
        font-size: 2.7em;
    }

    main .menu button, .menu#sala form button, #instrucciones button, #resultados button {
        font-size: 1.25em;
        height: 43px;
        min-width: 260px;
    }

    main .menu#sala form input[type="text"] {
        font-size: 1em;
        min-width: 240px;
    }

    main .menu small {
        font-size: 1em;
    }

    main .menu dl {
        font-size: 1.1em;
        margin: 20px 50px;
        width: calc(100% - 20%);
    }

    main .menu dd {
        font-size: 1.2em;
        margin: 0 0 10px 50px;
    }

    table thead tr th {
        line-height: 30px;
        font-size: 18px;
    }
    table tr::before {
        left: -30px;
        font-size: 18px;
    }

}

@media (min-width : 540px) {
    header h1 {
        font-size: 2.7em;
    }

    main .menu {
        width: 500px;
        gap: 13px
    }

    main #ingreso form label {
        font-size: 1.6em;
    }

    main .menu form input[type="text"] {
        font-size: 0.8em;
        width: 200px;
    }
    
    main .menu#sala form input[type="text"] {
        font-size: 1.1em;
        width: 300px;
    }

    main #resultados span {
        font-size: 1.8em;
    }


    main .menu small {
        font-size: 1.2em;
    }

    main .menu dl {
        font-size: 1.28em;
    }

    main .menu dd {
        font-size: 1.35em;
    }

    main .menu button, .menu#sala form button, #instrucciones button, #resultados button {
        font-size: 1.3em;
        height: 46px;
        min-width: 300px;
        width: 80%;
    }

    main #tarjeta {
        width: 500px;
        
    }

    main .reloj {
        position: relative;
        align-self: center;
        width: 120px;
        left: 200px;
        font-size: 1.6em;
        margin: 1em 0.5em;
    }
        
    #resultados span {
        font-size: 1.8em;
    }

    #resultados h3 {
        font-size: 2em;
    }

    table tr td {
        width: 40px;
        height: 40px;
    }

    table thead tr th {
        line-height: 40px;
        font-size: 18px;
    }
    table tr::before {
        left: -30px;
        font-size: 18px;
        line-height: 40px;
    }
}

@media (min-width : 720px) {

    header h1 {
        font-size: 2.9em;
    }

    main .menu {
        width: 500px;
        gap: 17px
    }

    main .menu form input[type="text"] {
        font-size: 1em;
    }

    main .menu#sala form input[type="text"] {
        font-size: 1.25em;
        width: 320px;
    }

    main .menu small {
        font-size: 1.2em;
    }

    main .menu dl {
        font-size: 1.3em;
    }

    main .menu dd {
        font-size: 1.35em;
    }

    main #resultados {
        width: 530px;
    }

    #resultados span {
        font-size: 1.85em;
    }

    #resultados h3 {
        font-size: 2.1em;
    }

    #resultados button {
        font-size: 1.4em;
    }

    table tr td {
        width: 48px;
        height: 48px;
    }

    table thead tr th {
        line-height: 48px;
        font-size: 21px;
    }
    table tr::before {
        left: -48px;
        font-size: 21px;
    }

}
@media (min-width : 1120px) {

    table tr td {
        width: 52px;
        height: 52px;
    }

    table thead tr th {
        line-height: 52px;
        font-size: 24px;
    }
    table tr::before {
        left: -35px;
        font-size: 24px;
        line-height: 52px;
    }
}